.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    /* Space between form elements */
    margin: 0 auto;
    /* keeps it centered */
    padding: 30px;
}

.submitButton {
    background-color: #000000;
    opacity: 0.75;
    border-color: #C2E6F9;
    border-width: 1.25px;
    width: 80%;
    height: 4.3em;
    max-width: 500px;
    vertical-align: 66%;
    transition-duration: 1.25s;
}

.submitButton:hover {
    border-radius: 10%;
    color: #fff;
}

textarea,
input[type="email"] {
    width: 50em;
    padding: 15px;
    border: 1px solid #3399ff;
    font-size: 0.6em;
    color: #C2E6F9;
    font-family: 'Play', sans-serif;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 20px;
    /* Ensures padding and border are included in the total width and height */
}

textarea {
    height: 150px;
    /* Set a fixed height for the textarea */
    resize: vertical;
    /* Allow vertical resizing */
}

input[type="email"] {
    height: auto;
}

label {
    font-size: 1.5em;
    margin-bottom: 5px;
    font-weight: bolder;
    font-family: 'Play';
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}

#contact h2 {
    margin-bottom: 20px;
}

.contact-icons {
    display: flex;
    flex-direction: row;
	width: 17%;
    gap: 36px;
    align-items: center;
    padding: 40px;
    margin: 0 auto;
}

.contact-icons img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    filter: grayscale(87.5%);
}

.contact-icons img:hover {
    transition-duration: 0.75s;
    filter: grayscale(0%);
}

/* Small screens (phones) */
@media (max-width: 600px) {
    .contact-icons {
        height: 48px;
        width: 48px;
        /* smaller icons */
    }

	textarea,
input[type="email"]{
	width: 25em;
}
}
