html {
    scroll-behavior: smooth;
}

body {
    background-color: #030303;
    color: rgb(0, 133, 196);
    width: auto;
    height: auto;
}

p {
    text-align: center;
    font-size: 16.66px;
    color: lightgray;
    font-family: 'PT Sans Narrow', serif;
}

button {
    width: 125px;
    vertical-align: middle;
    height: 75px;
    font-size: 15px;
    font-family: 'Play';
    text-transform: uppercase;
    align-items: center;
    background-color: #030303;
    border-color: #030303;
    color: rgb(37, 118, 224);
}

button:active {
    outline-width: 0px;
}

a {
    text-decoration: none;
    color: #4979ED;
}

a:hover {
    text-decoration: underline;
    color: rgb(153, 179, 238);
}

h1 {
    font-family: 'Play';
    font-size: 63px;
    text-align: center;
    font-weight: bold;
    color: rgb(196, 221, 233);
    text-transform: uppercase;
}

h2 {
    font-family: 'Play';
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: rgb(37, 118, 224);
    text-transform: uppercase;
}
h3 {
    font-family: 'Play';
    font-size: 25px;
    text-align: center;
    color: lightgray;
    text-transform: uppercase;
}

h4 {
    font-family: 'Play';
    font-size: 17.5px;
    text-align: center;
    color: #85C1E9;
    text-transform: uppercase;
}


h5 {
    font-family: 'Play';
    font-size: 16.66px;
    text-align: center;
    color: #C2E6F9;
    text-transform: uppercase;
}

h6 {
    font-family: 'Play';
    font-size: 15px;
    text-align: center;
    color: lightgray;
    text-transform: uppercase;
}

section {
    background-color: #222222;
    height: fit-content;
}

ul {
    list-style-type: none;
}

li {

    font-family: 'PT Sans Narrow', serif;
    color: #ffffff;
}

a :hover, .contactIcons :hover {
    opacity: 1.0;
    transition-duration: 0.75s;
    filter: grayscale(0%);
}

a:active,
.prev:active,
.next:active {
    outline-color: transparent;
}

a:visited,
.prev:visited,
.next:visited {
    outline-color: transparent;
}

.header a {
    text-align: center;
    text-decoration: none;
}

.contactIcons {
    height: 66px;
    width: 66px;
    opacity: 0.33;
    filter: grayscale(87.5%);
}

.thumbnail-blogimage {
    width: 275px;
    height: 125px;
    font-size: 25px;
    color: white;
    alt: initial;
}

.aboutButton {
    background-color: #000000;
    opacity: 0.75;
    border-color: #C2E6F9;
    border-width: 1.25px;
    width: 500px;
    height: 50px;
    vertical-align: 66%;
    transition-duration: 1.25s;
}

.aboutButton:hover {
    border-width: 1.25px;
    width: 125px;
    vertical-align: 66%;
    border-radius: 5%;
}

#About {
    background-color: #111111;
    height: auto;
}

.projects {
    background-image: url("../images/ash-edmonds-PfiCEBmKTqY-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 580px;
    align-content: center;
}

.projectlist ul {
    list-style-type: none;
}

#navbar a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 16px;
}

.sticky+.content {
    padding-top: 102px;
}

.openingImage {
    background-image: url('../images/source-code-583537_SMALL.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    align-content: center;
}

.projectButton {
    font-size: 24px;
    border-radius: 25px;
    width: 50px;
}

.projectButton:hover {
    font-size: 24px;
    border-radius: 25px;
    width: 50px;
    background: #222222;
}

.projectButton:active {
    border: 0px, none, transparent;
    outline: 0px, none, transparent;
}

.projectButton::visited {
    border: 0px, none, transparent;
    outline: 0px, none, transparent;
}

.projectImage {
    width: 466px;
    height: 240px;
    position: initial;
    margin: auto;
}