.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* spacing between links */
    background-color: black;
    padding: 1rem 0;
    z-index: 1000;
    font-family: 'Play';
    color: rgb(37, 118, 224);
    text-transform: uppercase;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-size: 1.33rem;
    transition: color 0.2s;
}

.topnav a:hover {
    color: #3399ff;
}

.topnav #maintitle {
    font-family: 'Exo 2', serif;
    color: #3399ff;
    /* highlight Rahul Lal */
    font-weight: bold;
    font-size: 1.5rem;
}


@media (max-width: 600px) {
    .topnav a {
        font-size: 0.8rem;
        visibility: hidden;
    }

    .topnav #maintitle {
        font-size: 1rem;
    }
}

/*
    font-family: 'Play';
    color: rgb(37, 118, 224);
   

#maintitle {
    font-family: 'Exo 2', serif;
    font-size: 250%;
    font-weight: bold;
}
*/