/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    overflow: hidden;
    align-items: center;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 1rem;
    font-family: 'Play';
    background-color: #030303;
}

/* Style the links inside the navigation bar */
.topnav a {
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    font-size: 125%;
    color: rgb(37, 118, 224);
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #f2f2f2;
    text-decoration: none;
    transition-duration: 1.25s;

}

#maintitle {
    font-family: 'Exo 2', serif;
    font-size: 250%;
    font-weight: bold;
}

#maintitle:hover {
    color: #f2f2f2;
    transition-duration: 1.25s;
}

@media (max-width: 600px) {
    .topnav{
        visibility: hidden;
    }
}